body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button#deleteInput {
    padding: 10px 20px;
    border: none;
    background-color: lightcoral;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button#deleteInput:hover {
    background-color: red;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
}